.orders-container {
    margin: 0 32px 0;
}

.orders-table {
    display: grid;
    grid-template-columns: minmax(0, 250px) minmax(0, 1fr) minmax(0, 70px) minmax(0, 200px) minmax(0, 200px) minmax(0, 2fr) 200px;
    column-gap: 1px;
    row-gap: 1px;
    background-color: #aaa;
}

.orders-table-top {
    background-color: #fff;
    padding: 3px;
}

.orders-table-element {
    background-color: #fff;
    padding: 3px;
}